@charset "UTF-8";
/* ===== Start ICONS CSS ===== */
@font-face {
  font-family: "lebagol-icon";
  src: url("./assets/fonts/icons/lebagol-icon-1.0.3.eot");
  src: url("./assets/fonts/icons/lebagol-icon-1.0.3.eot?#iefix") format("eot"), url("./assets/fonts/icons/lebagol-icon-1.0.3.woff2") format("woff2"), url("./assets/fonts/icons/lebagol-icon-1.0.3.woff") format("woff"), url("./assets/fonts/icons/lebagol-icon-1.0.3.ttf") format("truetype"), url("./assets/fonts/icons/lebagol-icon-1.0.3.svg#lebagol-icon-1.0.3") format("svg");
}
[class*=lebagol-icon-] {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.lebagol-icon-arrow-small-left:before {
  content: "";
}

.lebagol-icon-arrow-small-right:before {
  content: "";
}

.lebagol-icon-avocado:before {
  content: "";
}

.lebagol-icon-cacao:before {
  content: "";
}

.lebagol-icon-call-outgoing:before {
  content: "";
}

.lebagol-icon-cone-ice-cream:before {
  content: "";
}

.lebagol-icon-earth:before {
  content: "";
}

.lebagol-icon-equalizer-line:before {
  content: "";
}

.lebagol-icon-eye1:before {
  content: "";
}

.lebagol-icon-fast-delivery:before {
  content: "";
}

.lebagol-icon-gluten-free:before {
  content: "";
}

.lebagol-icon-grid1:before {
  content: "";
}

.lebagol-icon-ice-cream:before {
  content: "";
}

.lebagol-icon-icecream-cone:before {
  content: "";
}

.lebagol-icon-leaves:before {
  content: "";
}

.lebagol-icon-list1:before {
  content: "";
}

.lebagol-icon-local-delivery:before {
  content: "";
}

.lebagol-icon-location:before {
  content: "";
}

.lebagol-icon-mail-send-line:before {
  content: "";
}

.lebagol-icon-map-pin-2-line:before {
  content: "";
}

.lebagol-icon-no-gmo:before {
  content: "";
}

.lebagol-icon-no-sugar:before {
  content: "";
}

.lebagol-icon-pinterest-line:before {
  content: "";
}

.lebagol-icon-play-1:before {
  content: "";
}

.lebagol-icon-plus-1:before {
  content: "";
}

.lebagol-icon-quote-1:before {
  content: "";
}

.lebagol-icon-random1:before {
  content: "";
}

.lebagol-icon-shaved-ice:before {
  content: "";
}

.lebagol-icon-shopping-bag-add:before {
  content: "";
}

.lebagol-icon-strawberry:before {
  content: "";
}

.lebagol-icon-time-line:before {
  content: "";
}

.lebagol-icon-trade-1:before {
  content: "";
}

.lebagol-icon-twitter-x:before {
  content: "";
}

.lebagol-icon-wishlist:before {
  content: "";
}

.lebagol-icon-youtube-line:before {
  content: "";
}

.lebagol-icon-360:before {
  content: "";
}

.lebagol-icon-angle-down:before {
  content: "";
}

.lebagol-icon-angle-left:before {
  content: "";
}

.lebagol-icon-angle-right:before {
  content: "";
}

.lebagol-icon-angle-up:before {
  content: "";
}

.lebagol-icon-arrow-left:before {
  content: "";
}

.lebagol-icon-arrow-right:before {
  content: "";
}

.lebagol-icon-bars:before {
  content: "";
}

.lebagol-icon-cart-empty:before {
  content: "";
}

.lebagol-icon-cart:before {
  content: "";
}

.lebagol-icon-check-square:before {
  content: "";
}

.lebagol-icon-check:before {
  content: "";
}

.lebagol-icon-circle:before {
  content: "";
}

.lebagol-icon-cloud-download-alt:before {
  content: "";
}

.lebagol-icon-comment:before {
  content: "";
}

.lebagol-icon-comments:before {
  content: "";
}

.lebagol-icon-contact:before {
  content: "";
}

.lebagol-icon-copy:before {
  content: "";
}

.lebagol-icon-credit-card:before {
  content: "";
}

.lebagol-icon-dot-circle:before {
  content: "";
}

.lebagol-icon-edit:before {
  content: "";
}

.lebagol-icon-envelope:before {
  content: "";
}

.lebagol-icon-expand-alt:before {
  content: "";
}

.lebagol-icon-expand:before {
  content: "";
}

.lebagol-icon-external-link-alt:before {
  content: "";
}

.lebagol-icon-file-alt:before {
  content: "";
}

.lebagol-icon-file-archive:before {
  content: "";
}

.lebagol-icon-folder-open:before {
  content: "";
}

.lebagol-icon-folder:before {
  content: "";
}

.lebagol-icon-frown:before {
  content: "";
}

.lebagol-icon-gift:before {
  content: "";
}

.lebagol-icon-grid:before {
  content: "";
}

.lebagol-icon-grip-horizontal:before {
  content: "";
}

.lebagol-icon-heart-fill:before {
  content: "";
}

.lebagol-icon-heart:before {
  content: "";
}

.lebagol-icon-history:before {
  content: "";
}

.lebagol-icon-home:before {
  content: "";
}

.lebagol-icon-info-circle:before {
  content: "";
}

.lebagol-icon-instagram:before {
  content: "";
}

.lebagol-icon-level-up-alt:before {
  content: "";
}

.lebagol-icon-list:before {
  content: "";
}

.lebagol-icon-map-marker-check:before {
  content: "";
}

.lebagol-icon-meh:before {
  content: "";
}

.lebagol-icon-minus-circle:before {
  content: "";
}

.lebagol-icon-minus:before {
  content: "";
}

.lebagol-icon-mobile-android-alt:before {
  content: "";
}

.lebagol-icon-money-bill:before {
  content: "";
}

.lebagol-icon-pencil-alt:before {
  content: "";
}

.lebagol-icon-plus:before {
  content: "";
}

.lebagol-icon-quotes:before {
  content: "";
}

.lebagol-icon-random:before {
  content: "";
}

.lebagol-icon-reply-all:before {
  content: "";
}

.lebagol-icon-reply:before {
  content: "";
}

.lebagol-icon-search:before {
  content: "";
}

.lebagol-icon-shield-check:before {
  content: "";
}

.lebagol-icon-shopping-bag:before {
  content: "";
}

.lebagol-icon-shopping-basket:before {
  content: "";
}

.lebagol-icon-sign-out-alt:before {
  content: "";
}

.lebagol-icon-smile:before {
  content: "";
}

.lebagol-icon-spinner:before {
  content: "";
}

.lebagol-icon-square:before {
  content: "";
}

.lebagol-icon-star:before {
  content: "";
}

.lebagol-icon-store:before {
  content: "";
}

.lebagol-icon-sync:before {
  content: "";
}

.lebagol-icon-tachometer-alt:before {
  content: "";
}

.lebagol-icon-thumbtack:before {
  content: "";
}

.lebagol-icon-ticket:before {
  content: "";
}

.lebagol-icon-times-circle:before {
  content: "";
}

.lebagol-icon-times-square:before {
  content: "";
}

.lebagol-icon-times:before {
  content: "";
}

.lebagol-icon-trophy-alt:before {
  content: "";
}

.lebagol-icon-truck:before {
  content: "";
}

.lebagol-icon-user:before {
  content: "";
}

.lebagol-icon-video:before {
  content: "";
}

.lebagol-icon-wishlist-empty:before {
  content: "";
}

.lebagol-icon-adobe:before {
  content: "";
}

.lebagol-icon-amazon:before {
  content: "";
}

.lebagol-icon-android:before {
  content: "";
}

.lebagol-icon-angular:before {
  content: "";
}

.lebagol-icon-apper:before {
  content: "";
}

.lebagol-icon-apple:before {
  content: "";
}

.lebagol-icon-atlassian:before {
  content: "";
}

.lebagol-icon-behance:before {
  content: "";
}

.lebagol-icon-bitbucket:before {
  content: "";
}

.lebagol-icon-bitcoin:before {
  content: "";
}

.lebagol-icon-bity:before {
  content: "";
}

.lebagol-icon-bluetooth:before {
  content: "";
}

.lebagol-icon-btc:before {
  content: "";
}

.lebagol-icon-centos:before {
  content: "";
}

.lebagol-icon-chrome:before {
  content: "";
}

.lebagol-icon-codepen:before {
  content: "";
}

.lebagol-icon-cpanel:before {
  content: "";
}

.lebagol-icon-discord:before {
  content: "";
}

.lebagol-icon-dochub:before {
  content: "";
}

.lebagol-icon-docker:before {
  content: "";
}

.lebagol-icon-dribbble:before {
  content: "";
}

.lebagol-icon-dropbox:before {
  content: "";
}

.lebagol-icon-drupal:before {
  content: "";
}

.lebagol-icon-ebay:before {
  content: "";
}

.lebagol-icon-facebook-f:before {
  content: "";
}

.lebagol-icon-facebook:before {
  content: "";
}

.lebagol-icon-figma:before {
  content: "";
}

.lebagol-icon-firefox:before {
  content: "";
}

.lebagol-icon-google-plus:before {
  content: "";
}

.lebagol-icon-google:before {
  content: "";
}

.lebagol-icon-grunt:before {
  content: "";
}

.lebagol-icon-gulp:before {
  content: "";
}

.lebagol-icon-html5:before {
  content: "";
}

.lebagol-icon-joomla:before {
  content: "";
}

.lebagol-icon-link-brand:before {
  content: "";
}

.lebagol-icon-linkedin:before {
  content: "";
}

.lebagol-icon-mailchimp:before {
  content: "";
}

.lebagol-icon-opencart:before {
  content: "";
}

.lebagol-icon-paypal:before {
  content: "";
}

.lebagol-icon-pinterest-p:before {
  content: "";
}

.lebagol-icon-reddit:before {
  content: "";
}

.lebagol-icon-skype:before {
  content: "";
}

.lebagol-icon-slack:before {
  content: "";
}

.lebagol-icon-snapchat:before {
  content: "";
}

.lebagol-icon-spotify:before {
  content: "";
}

.lebagol-icon-trello:before {
  content: "";
}

.lebagol-icon-twitter:before {
  content: "";
}

.lebagol-icon-vimeo:before {
  content: "";
}

.lebagol-icon-whatsapp:before {
  content: "";
}

.lebagol-icon-wordpress:before {
  content: "";
}

.lebagol-icon-yoast:before {
  content: "";
}

.lebagol-icon-youtube:before {
  content: "";
}

/* ===== End ICONS CSS ===== */
.editor-styles-wrapper blockquote,
.editor-styles-wrapper .wp-block-quote,
.hentry .entry-content blockquote,
.hentry .entry-content .wp-block-quote {
  position: relative;
}
.editor-styles-wrapper blockquote:before,
.editor-styles-wrapper .wp-block-quote:before,
.hentry .entry-content blockquote:before,
.hentry .entry-content .wp-block-quote:before {
  position: absolute;
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  left: 0;
  top: 30px;
  font-size: 80px;
  color: var(--primary);
}

.lebagol-social ul {
  margin: 0;
  list-style-type: none;
}
.lebagol-social ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 1;
}
.lebagol-social ul li:last-child {
  margin-right: 0;
}
.lebagol-social ul li a:before {
  position: relative;
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.lebagol-social ul li a[href*=twitter]:before {
  content: "";
  color: #1DA1F2;
}
.lebagol-social ul li a[href*=instagram]:before {
  content: "";
  color: #262626;
}
.lebagol-social ul li a[href*=docker]:before {
  content: "";
}
.lebagol-social ul li a[href*=dochub]:before {
  content: "";
}
.lebagol-social ul li a[href*=yelp]:before {
  content: "";
  color: #af0606;
}
.lebagol-social ul li a[href*=flickr]:before {
  content: "";
  color: #0063dc;
}
.lebagol-social ul li a[href*=github]:before {
  content: "";
  color: #333333;
}
.lebagol-social ul li a[href*=dribbble]:before {
  content: "";
  color: #ea4c89;
}
.lebagol-social ul li a[href*=wordpress]:before {
  content: "";
  color: #21759b;
}
.lebagol-social ul li a[href*=tumblr]:before {
  content: "";
  color: #35465c;
}
.lebagol-social ul li a[href*=angular]:before {
  content: "";
}
.lebagol-social ul li a[href*=atlassian]:before {
  content: "";
}
.lebagol-social ul li a[href*=snapchat]:before {
  content: "";
  color: #fffc00;
}
.lebagol-social ul li a[href*=apper]:before {
  content: "";
}
.lebagol-social ul li a[href*=codepen]:before {
  content: "";
}
.lebagol-social ul li a[href*=gulp]:before {
  content: "";
}
.lebagol-social ul li a[href*=cpanel]:before {
  content: "";
}
.lebagol-social ul li a[href*=skype]:before {
  content: "";
  color: #00AFF0;
}
.lebagol-social ul li a[href*=reddit]:before {
  content: "";
  color: #ff4500;
}
.lebagol-social ul li a[href*=whatsapp]:before {
  content: "";
}
.lebagol-social ul li a[href*=slack]:before {
  content: "";
}
.lebagol-social ul li a[href*=amazon]:before {
  content: "";
}
.lebagol-social ul li a[href*=android]:before {
  content: "";
}
.lebagol-social ul li a[href*=grunt]:before {
  content: "";
}
.lebagol-social ul li a[href*=firefox]:before {
  content: "";
}
.lebagol-social ul li a[href*=adobe]:before {
  content: "";
}
.lebagol-social ul li a[href*=behance]:before {
  content: "";
}
.lebagol-social ul li a[href*=dropbox]:before {
  content: "";
}
.lebagol-social ul li a[href*=facebook]:before {
  content: "";
  color: #3b5998;
}
.lebagol-social ul li a[href*=linkedin]:before {
  content: "";
  color: #0077b5;
}
.lebagol-social ul li a[href*=paypal]:before {
  content: "";
}
.lebagol-social ul li a[href*=trello]:before {
  content: "";
}
.lebagol-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.lebagol-social ul li a[href*=youtube]:before {
  content: "";
  color: #cd201f;
}
.lebagol-social ul li a[href*=apple]:before {
  content: "";
  color: #999999;
}
.lebagol-social ul li a[href*=bitbucket]:before {
  content: "";
}
.lebagol-social ul li a[href*=bitcoin]:before {
  content: "";
}
.lebagol-social ul li a[href*=bluetooth]:before {
  content: "";
}
.lebagol-social ul li a[href*=bity]:before {
  content: "";
}
.lebagol-social ul li a[href*="google/chrome"]:before {
  content: "";
}
.lebagol-social ul li a[href*=drupal]:before {
  content: "";
}
.lebagol-social ul li a[href*=html5]:before {
  content: "";
}
.lebagol-social ul li a[href*=mailchimp]:before {
  content: "";
}
.lebagol-social ul li a[href*=jenkins]:before {
  content: "";
}
.lebagol-social ul li a[href*=spotify]:before {
  content: "";
  color: #2ebd59;
}
.lebagol-social ul li a[href*=ebay]:before {
  content: "";
}
.lebagol-social ul li a[href*=telegram]:before {
  content: "";
  color: #2CA5E0;
}
.lebagol-social ul li a[href*=yoast]:before {
  content: "";
}
.lebagol-social ul li a[href*=btc-e]:before {
  content: "";
}
.lebagol-social ul li a[href*=discord]:before {
  content: "";
}
.lebagol-social ul li a[href*=google]:before {
  content: "";
  color: #dd4b39;
}
.lebagol-social ul li a[href*=google-plus]:before {
  content: "";
}
.lebagol-social ul li a[href*=figma]:before {
  content: "";
}
.lebagol-social ul li a[href*=joomla]:before {
  content: "";
}
.lebagol-social ul li a[href*=opencart]:before {
  content: "";
}
.lebagol-social ul li a[href*=pinterest]:before {
  content: "";
  color: #bd081c;
}
.lebagol-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.lebagol-social ul li a[href*=centos]:before {
  content: "";
}
.lebagol-social ul li a[href*=whatsapp]:before {
  content: "";
}

#comments .commentlist .bypostauthor > .comment-body cite::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

#respond #cancel-comment-reply-link::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: block;
}

#comments .comment-list .reply a.comment-reply-link:before, #comments .comment-list .reply a.comment-edit-link:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 12px;
  margin-right: 5px;
}
#comments .comment-list .reply a.comment-reply-link:before {
  content: "";
  margin-right: 5px;
}
#comments .comment-list .reply a.comment-edit-link:before {
  content: "";
}

.sticky .entry-title::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.nav-next a,
.nav-previous a {
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-next a .reader-text:after, .nav-next a .reader-text:before,
.nav-previous a .reader-text:after,
.nav-previous a .reader-text:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
  margin-top: -2px;
}

.nav-previous .nav-content .reader-text:before {
  content: "";
  margin-right: 10px;
}

.nav-next .nav-content .reader-text:after {
  content: "";
  margin-left: 7px;
}

button.loading,
.button.loading {
  position: relative;
}
button.loading::after,
.button.loading::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
  background-color: transparent;
  z-index: 1;
}

ul.products li.product a[class*=product_type_].loading::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: unset;
  right: 0;
  margin-left: 0;
  margin-top: 0;
  display: block;
  background-color: transparent;
  z-index: 1;
}

.shop-action .blockUI.blockOverlay:before,
.shop-action .loader:before {
  top: 50%;
  left: 50%;
  opacity: 1 !important;
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 1;
  position: absolute;
  display: block !important;
  margin-left: -10px;
  margin-top: -10px;
  color: #000;
}

.shop-action .blockUI.blockOverlay {
  opacity: 1 !important;
  overflow: hidden;
  background-image: none !important;
  background: #fff !important;
}

.main-navigtion ul li a::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.mobile-navigation ul li button::before, .mobile-navigation-categories ul li button::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.mobile-navigation ul li button.toggled-on::before, .mobile-navigation-categories ul li button.toggled-on::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.widget_search form::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translate(0, -50%);
  z-index: 9;
  color: #000;
  pointer-events: none;
  font-size: 16px;
}
.widget_search.widget_block form::before {
  content: none;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper {
  position: relative;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
  z-index: 0;
  font-size: 16px;
}

.widget_search form::before {
  color: var(--accent);
  right: 16px;
}

.single-product .pswp__button {
  background-color: transparent;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  text-indent: -999px;
  overflow: hidden;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: block;
  text-indent: 0;
  font-size: 30px;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
  display: none !important;
}
.single-product div.product .entry-summary .yith-wcwl-add-to-wishlist > div > a:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.single-product div.product .entry-summary .compare:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.single-product div.product .single_add_to_cart_button::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

a.remove {
  display: block;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative;
}
a.remove::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #999999;
  line-height: 1.618;
  text-indent: 0;
  text-align: center;
}

.woocommerce-shipping-calculator > p:first-child a::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.3342343017em;
}

.blockUI::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.woocommerce-pagination ul.page-numbers li .next:before, .woocommerce-pagination ul.page-numbers li .next:after,
.woocommerce-pagination ul.page-numbers li .prev:before,
.woocommerce-pagination ul.page-numbers li .prev:after,
.pagination ul.page-numbers li .next:before,
.pagination ul.page-numbers li .next:after,
.pagination ul.page-numbers li .prev:before,
.pagination ul.page-numbers li .prev:after {
  font-size: 22px;
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.woocommerce-pagination ul.page-numbers li .next:after,
.pagination ul.page-numbers li .next:after {
  content: "";
}
.woocommerce-pagination ul.page-numbers li .prev:before,
.pagination ul.page-numbers li .prev:before {
  content: "";
}

#shipping_method li > label {
  cursor: pointer;
  padding-right: 20px;
  position: relative;
}
#shipping_method li > label::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#shipping_method li > input[type=radio]:first-child {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#shipping_method li > input[type=radio]:first-child:checked + label::after {
  font-weight: 700;
  content: "";
}
#shipping_method li > input[type=hidden]:first-child + label {
  padding-right: 0;
}
#shipping_method li > input[type=hidden]:first-child + label::after {
  content: none;
}

#payment .payment_methods li > label {
  cursor: pointer;
}
#payment .payment_methods li > label::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
  transition: color, ease, 0.2s;
}
#payment .payment_methods li > input[type=radio]:first-child {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#payment .payment_methods li > input[type=radio]:first-child:checked + label::before {
  font-weight: 700;
  content: "";
}

.woocommerce-password-strength::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}
.woocommerce-password-strength.strong::after {
  content: "";
}
.woocommerce-password-strength.good::after {
  content: "";
}

.woocommerce-MyAccount-navigation ul li.is-active a::before {
  opacity: 1;
}
.woocommerce-MyAccount-navigation ul li a::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  line-height: 1.618;
  margin-left: 0.5407911001em;
  width: 1.41575em;
  text-align: right;
  float: right;
  opacity: 0.25;
}
.woocommerce-MyAccount-navigation ul li a:hover::before {
  opacity: 1;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a::before {
  content: "";
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a::before {
  content: "";
}

.my_account_orders .button.view::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

p.order-again .button::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

.woocommerce-MyAccount-downloads .button::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

.demo_store::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

#reviews .commentlist li p.meta .verified {
  display: inline-block;
  height: 1.41575em;
  width: 1.41575em;
  position: relative;
  text-indent: -9999px;
}
#reviews .commentlist li p.meta .verified::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  color: #0f834d;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.41575em;
  height: 1.41575em;
  text-indent: 0;
  text-align: center;
  line-height: 1.618em;
}

/**
 * Composite Products
 */
.single-product div.product .component_selections .clear_component_options::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

/**
 * Mix and Match
 */
.cart .mnm_table_item .mnm_table_item_indent::before,
.shop_table .mnm_table_item .mnm_table_item_indent::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  transform: rotate(90deg);
  margin-right: 0.3819820591em;
  opacity: 0.25;
}

/**
 * Quick view
 */
.quick-view-button::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.6180469716em;
}

/**
 * Ship multiple addresses
 */
.woocommerce-page .ship_address .gift-form label::after,
.woocommerce-page .no_shipping_address .gift-form label::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}
.woocommerce-page .ship_address .modify-address-button::before,
.woocommerce-page .no_shipping_address .modify-address-button::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}
.woocommerce-page .addresses + .addresses header.title a::before {
  content: "";
}

/**
 * Product reviews pro
 */
.woocommerce .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--contributions a::before,
.woocommerce-page .woocommerce-MyAccount-navigation li.woocommerce-MyAccount-navigation-link--contributions a::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

/**
 * Variation Swatches
 */
a#variations_clear::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

/**
 * Wishlists
 */
.wl-add-link::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.button.wl-create-new::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.site-header-cart .cart-contents::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.elementor-widget-lebagol-vertical-menu .vertical-navigation .lebagol-icon {
  position: relative;
}
.elementor-widget-lebagol-vertical-menu .vertical-navigation .lebagol-icon::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 16px;
  font-weight: 700;
  transition: transform 0.2s;
}
.elementor-widget-lebagol-vertical-menu .vertical-navigation .lebagol-icon::before {
  position: absolute;
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 16px;
  font-weight: 700;
  transform: translate3d(0, 250%, 0);
  transition: transform 0.2s;
}
.elementor-widget-lebagol-vertical-menu .vertical-navigation:hover .lebagol-icon::after {
  transform: translate3d(0, -250%, 0);
}
.elementor-widget-lebagol-vertical-menu .vertical-navigation:hover .lebagol-icon::before {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
  .main-navigation ul.menu > li.menu-item-has-children > a:after, .main-navigation ul.menu > li.page_item_has_children > a:after, .main-navigation ul.menu > li.has-mega-menu > a:after,
.main-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.main-navigation ul.nav-menu > li.page_item_has_children > a:after,
.main-navigation ul.nav-menu > li.has-mega-menu > a:after {
    font-family: "lebagol-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    font-size: 14px;
    margin-left: 7px;
    font-weight: 700;
  }
  .gecko .main-navigation ul.menu > li.menu-item-has-children > a:after, .gecko .main-navigation ul.menu > li.page_item_has_children > a:after, .gecko .main-navigation ul.menu > li.has-mega-menu > a:after,
.gecko .main-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.gecko .main-navigation ul.nav-menu > li.page_item_has_children > a:after,
.gecko .main-navigation ul.nav-menu > li.has-mega-menu > a:after {
    margin-bottom: 0;
    vertical-align: sub;
  }

  .header-side .main-navigation ul.menu > li.menu-item-has-children > a::after, .header-side .main-navigation ul.menu > li.page_item_has_children > a::after, .header-side .main-navigation ul.menu > li.has-mega-menu > a::after,
.header-side .main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.header-side .main-navigation ul.nav-menu > li.page_item_has_children > a::after,
.header-side .main-navigation ul.nav-menu > li.has-mega-menu > a::after {
    font-family: "lebagol-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: 1em;
    margin-right: -25px;
  }

  .vertical-navigation ul.menu > li.menu-item-has-children > a::after, .vertical-navigation ul.menu > li.page_item_has_children > a::after, .vertical-navigation ul.menu > li.has-mega-menu > a::after,
.vertical-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.vertical-navigation ul.nav-menu > li.page_item_has_children > a::after,
.vertical-navigation ul.nav-menu > li.has-mega-menu > a::after,
.vertical-navigation ul.sub-menu > li.menu-item-has-children > a::after,
.vertical-navigation ul.sub-menu > li.page_item_has_children > a::after,
.vertical-navigation ul.sub-menu > li.has-mega-menu > a::after {
    font-family: "lebagol-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: auto;
    float: right;
    font-size: 8px;
  }

  .main-navigation ul.menu ul li.menu-item-has-children > a::after, .main-navigation ul.menu ul li.page_item_has_children > a::after,
.main-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.main-navigation ul.nav-menu ul li.page_item_has_children > a::after {
    font-family: "lebagol-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    float: right;
    margin-left: 10px;
    line-height: 1.5;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 0px;
  }

  .demo_store a.woocommerce-store-notice__dismiss-link::before {
    font-family: "lebagol-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-right: 0.3342343017em;
  }

  .addresses header.title a {
    display: block;
    width: 1em;
    height: 1em;
    text-indent: -9999px;
    position: relative;
    padding: 0.875em;
    margin-top: 0.6180469716em;
  }
  .addresses header.title a::before {
    font-family: "lebagol-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    line-height: 1.618;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    text-indent: 0;
  }

  /**
   * Wishlists
   */
  #wl-wrapper .wl-tabs > li.active::after {
    font-family: "lebagol-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    display: block !important;
    position: absolute;
    top: 50%;
    height: 1em;
    width: 1em;
    margin-top: -0.5em;
  }
}
ul.wishlist_table.mobile .remove_from_wishlist:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

body.loading {
  position: relative;
}
body.loading::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 999999;
  color: #fff;
}
body.loading:before {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999998;
}

.woocommerce-cart .cart-empty:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 164px;
  color: var(--text_light);
  display: block;
  margin-bottom: 50px;
}

.widget_product_categories .icon-minus {
  float: right;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.widget_product_categories .icon-minus:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 14px;
  color: var(--accent);
}
.widget_product_categories .icon-plus {
  float: right;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.widget_product_categories .icon-plus:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 14px;
  color: var(--accent);
}

.shop-action .woosc-btn:before,
.shop-action .woosq-btn:before,
.shop-action .woosw-btn:before,
.shop-action a[class*=product_type_]:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.shop-action .woosw-btn:before {
  content: "";
}
.shop-action .woosw-btn.woosw-added:before {
  content: "";
  color: red;
  margin-right: 0;
}
.shop-action .woosw-btn.woosw-adding::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  line-height: inherit;
  content: "" !important;
  animation: fa-spin 0.75s linear infinite;
  height: 14px;
  width: 14px;
  line-height: 14px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  display: block;
  transform: translate(0);
  background-color: transparent;
}
.shop-action .woosw-btn.woosw-adding:before {
  opacity: 0;
}
.shop-action .woosc-btn:before {
  content: "";
}
.shop-action .woosq-btn:before {
  content: "";
}
.shop-action a[class*=product_type_]:before {
  content: "";
}

.product-caption-top .woosw-btn:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.product-caption-top .woosw-btn:before {
  content: "";
}
.product-caption-top .woosw-btn.woosw-added:before {
  content: "";
  color: var(--primary);
  margin-right: 0;
}
.product-caption-top .woosw-btn.woosw-adding::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  line-height: inherit;
  content: "" !important;
  animation: fa-spin 0.75s linear infinite;
  height: 14px;
  width: 14px;
  line-height: 14px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  display: block;
  transform: translate(0);
  background-color: transparent;
}
.product-caption-top .woosw-btn.woosw-adding:before {
  opacity: 0;
}

ul li.product a[class*=product_type_]:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.single-product div.product .entry-summary .woosc-btn:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  line-height: inherit;
}
.single-product div.product .entry-summary .woosw-btn:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  line-height: inherit;
}
.single-product div.product .entry-summary .woosw-btn.woosw-added:before {
  content: "";
}

a.read-more:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
}

.ajax-search .widget_product_search .woocommerce-product-search.loading::before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: mf-spin-fast 1s linear infinite;
  margin-top: -9px;
  z-index: 999;
}
.ajax-search .widget_product_search .woocommerce-product-search.loading button[type=submit] i {
  opacity: 0;
}

.elementor-widget-lebagol-language-switcher .lebagol-language-switcher .language-switcher-head:after {
  position: relative;
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
  line-height: 12px;
  font-weight: bold;
}
.elementor-widget-lebagol-language-switcher .lebagol-language-switcher .language-switcher-head:before {
  position: relative;
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 6px;
  font-size: 16px;
}

.loading-quick-shop .product-transition::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.search-by-category .input-dropdown-inner > a:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.popup-navigation ul.menu > li.menu-item-has-children > a:after, .popup-navigation ul.menu > li.page_item_has_children > a:after, .popup-navigation ul.menu > li.has-mega-menu > a:after,
.popup-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.popup-navigation ul.nav-menu > li.page_item_has_children > a:after,
.popup-navigation ul.nav-menu > li.has-mega-menu > a:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5em;
  font-size: 16px;
}

.popup-navigation ul.menu ul li.menu-item-has-children > a::after, .popup-navigation ul.menu ul li.page_item_has_children > a::after,
.popup-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.popup-navigation ul.nav-menu ul li.page_item_has_children > a::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  float: right;
  margin-left: 0.5em;
  line-height: 20px;
  font-size: 14px;
}

.lebagol-elementor-single-product .shop-button a[class*=product_type_]:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
  margin-top: 3px;
  float: right;
  transition: all 0.3s ease;
}

.elementor-widget-lebagol-image-gallery .grid__item a[data-elementor-open-lightbox=yes]:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.woosw-list .woosw-content-mid-notice:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 164px;
  color: var(--text_light);
  display: block;
  margin-bottom: 50px;
}

@keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-webkit-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-o-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-ms-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
.widget.lebagol-widget-woocommerce .widget-title::after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  transition: all ease 0.2s;
  font-size: 24px;
  line-height: 24px;
  transform: rotate(180deg);
  margin-left: 10px;
}
.widget.lebagol-widget-woocommerce .widget-title.toggled-on::after {
  transform: rotate(0);
}

.lebagol-active-filters .widget_layered_nav_filters ul li a:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 10px;
  margin-top: -2px;
}

.form-style .mc4wp-form .mc4wp-form-fields:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.main-navigation-style-popup .elementor-nav-menu-wrapper.popup-active i:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

button.mfp-close {
  font-size: 0 !important;
}
button.mfp-close:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 20px;
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 14px;
  line-height: 1;
  font-size: 13px;
  width: 6.05em;
  letter-spacing: 3px;
  display: block;
}
.star-rating::before {
  font-family: "lebagol-icon";
  content: "" "" "" "" "";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  text-transform: capitalize;
  color: var(--text_light);
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.7em;
}
.star-rating span::before {
  font-family: "lebagol-icon";
  content: "" "" "" "" "";
  top: 0;
  position: absolute;
  left: 0;
  color: #F9BF00;
}

.inventory_status:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: -1px;
}

.single-product .woocommerce-tabs.product-accordions .accordion-head .accordion-title:before {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.single-product .woocommerce-tabs.product-accordions .accordion-head.active .accordion-title:before {
  content: "";
}

.elementor-widget-lebagol-lookbook-2 .lookbook-dot:after,
.elementor-widget-lebagol-image-lookbook .lookbook_dot:after {
  font-family: "lebagol-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

/*# sourceMappingURL=icons.css.map */
